
/* .menu {
    font-size: 2rem;
    margin-left: 10px;
} */
/* .container {
    height: 600px;
    width: 400px;
    margin-top: 100px;
    border: 2px solid black;
    position: fixed;
    left: -410px;
    background-color: cadetblue;
} */

/* .change {
    margin-left: 20px;
    height: 600px;
    width: 400px;
    border: 2px solid black;
    position: fixed;
    left: 0px;
    background-color: cadetblue;
    transition: 0.5s;
} */

